.about{
    display: flex;
    flex-direction: column;
    gap: 30px;
    .banniere{
        width: 1240px;
        height: 223px;
        margin: auto;

        background: #000000;
        mix-blend-mode: darken;
        border-radius: 25px;
    }
    .accordeon{
        max-width: 1023px;
        margin: auto;
    }
}
