footer {
    background-color: black;
    color: white;
    padding-top: 66px;
    padding-bottom: 30px;
    margin-top: 60px;

    img{
        margin: auto;
    }
    p{
        text-align: center;
        margin-top: 30px;
    }
}