$primary-color: #FF6060;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import './CardLogement';
@import './carousel';
@import './accordeon';
@import './about';
@import './error404';
@import './footer';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  font-size: 18px;
}
img {
  display: block;
  object-fit: cover;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  img {
    width: 210px;
    height: auto;
  }
  nav {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    gap: 57px;
    a {
      color: $primary-color;
      margin-left: 15px;
      text-decoration: none;
    }
  }
}
.banniere-accueil {
  background-image: url("../assets/img/banniere-accueil.png");
  margin: auto;
  max-width: 1240px;
  width: 100%;
  height: 223px;
  mix-blend-mode: darken;
  border-radius: 25px;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  color: white;
  text-align: center;
  padding-block: 75px;
  position: relative;
  overflow: hidden;
  margin-bottom: 43px;
}
.banniere-accueil::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}
.container {
  width: 100%;
  background: #F7F7F7;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
  justify-content: center;
  max-width: 1240px;
  margin-inline: auto;
}
.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin-inline: auto;
  width: 100%;
  align-items: center;
  padding: 20px;
}
.logement__container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
  padding: 20px;
}
.logement__infos {
  display: flex;
  justify-content: space-between;
  margin-block: 24px;
  color: $primary-color;
  font-weight: 500;
  flex-wrap: wrap;
  .title {
    font-size: 36px;
    line-height: 51px;
  }
  p {
    margin-bottom: 23px;
    font-size: 18px;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  span {
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 2px 40px;
    margin-right: 10px;
  }
  .logement__hote__nom-image {
    display: flex;
    align-items: center;
    p {
      max-width: 100px;
      text-align: right;
      margin-right: 10px;
    }
    img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
    }
  }
  .etoiles {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    gap: 16px;
  }
}
/*********RESPONSIVE MediaQueries***********/
@media (max-width: 864px) {
  header {
    img {
      width: 145px;
    }
  }
}

@media (max-width:600px) {
  header {
    nav {
      font-size: 12px;
      gap: 10px;
    }
  }

  .banniere-accueil {
    height: 111px;
    font-size: 24px;
    padding-block: 20px;
    text-align: left;
    border-radius: 10px;
    padding-left: 16px;
    margin-inline: 10px;
    width: auto;
    padding-right: 112px;
  }

  .logement__hote {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;

    .logement__hote__nom-image {
      img {
        width: 48px;
        height: 48px;
      }
    }

    .etoiles {
      gap: 6px;

      img {
        width: 22px;
        height: 22px;
        object-fit: fill;
      }
    }
  }
}
