@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import './CardLogement';
@import './carousel';
@import './accordeon';
@import './about';

$primary-color: #FF6060;

#root {
  margin: 20px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

img {
  display: block;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img{
    width: 210px;
    height: auto;
  }

  nav {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    gap: 57px;

    a {
      color: $primary-color;
      margin-left: 15px;
      text-decoration: none;
    }
  }
}

.container {
  width: 100%;
  background: #F7F7F7;
  border-radius: 25px;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
  justify-content: center;
  max-width: 1240px;
  margin-inline: auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin-inline: auto;
  width: 100%;
  align-items: center;


}

footer {
  background-color: black;
  color: white;
  align-items: center;
  padding: 20px;
}

.logement__container {
  width: 100%;
  max-width: 1240px;
  margin-inline: auto;
}

.logement__infos {
  display: flex;
  justify-content: space-between;
  margin-block: 24px;
  color: $primary-color;
  font-weight: 500;

  .title {
    font-size: 36px;
    line-height: 51px;
  }

  p {
    margin-bottom: 23px;
    font-size: 18px;

  }

  span {
    background-color: $primary-color;
    color: white;
    border-radius: 10px;
    font-size: 14px;
    padding: 2px 40px;
    margin-right: 10px;

  }

  .logement__hote__nom-image {
    display: flex;
    align-items: center;

    p {
      max-width: 100px;
      text-align: right;
      margin-right: 10px;

    }

    img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
    }
  }

  .etoiles {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
@media (max-width: 864px) {

  header {
      img {
          width: 145px;
      }
  }
}

@media (max-width:600px) {
  header{
  nav{
    font-size: 12px;
    gap: 10px;
  }
}
}
